<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de citas</title>
</head>
<body>
    <h2>Selecione una categoria de cita</h2>
    <form action="/enviar_categoria" method="post">
        <li>
            <select name="categoria_seleccionada">
                <!--<option value="-">-</option>-->
                {% for cat in lista_categorias %}
                    
                    <option value="{{cat}}" {% if categoria_seleccionada == cat %}selected{% endif %}>{{cat}}</option>
                
                {% endfor %}             
                
            </select>
        </li>
        <input type="submit">
    </form>
    <p>{{cita_devuelta}}</p>
    
</body>
</html>